language: php
sudo: false
addons:
  chrome: stable

php:
  - 7.2

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - phpenv config-rm xdebug.ini
  - composer install

script:
  - phpunit --debug

after_script:
  - ps -A
