parameters:
	level: 5
	paths:
		- src
		- tests
	bootstrapFiles:
		- vendor/bin/.phpunit/phpunit/vendor/autoload.php
	inferPrivatePropertyTypeFromConstructor: true
	excludePaths:
	    - tests/DummyKernel.php
	ignoreErrors:
		- message: '#.+#'
		  path: tests/DummyKernel.php
		# False positive
		- '#Call to an undefined method ReflectionType::getName\(\)\.#'
		# To fix in PHP WebDriver
		- '#Parameter \#2 \$desired_capabilities of static method Facebook\\WebDriver\\Remote\\RemoteWebDriver::create\(\) expects array\|Facebook\\WebDriver\\Remote\\DesiredCapabilities\|null, Facebook\\WebDriver\\WebDriverCapabilities given\.#'
		# Require a redesign of the underlying Symfony components
		- '#Call to an undefined method DOMNode::getTagName\(\)\.#'
		- '#Return type \(void\) of method Symfony\\Component\\Panther\\DomCrawler\\Crawler::clear\(\) should be compatible with return type \(Facebook\\WebDriver\\WebDriverElement\) of method Facebook\\WebDriver\\WebDriverElement::clear\(\)#'
		- '#Method Symfony\\Component\\Panther\\DomCrawler\\Crawler::getIterator\(\) should return ArrayIterator<int, DOMNode> but returns ArrayIterator<\(int\|string\), Facebook\\WebDriver\\WebDriverElement>\.#'
		- '#^Expression on left side of \?\? is not nullable\.$#'
		- '#^PHPDoc type array of property Symfony\\Component\\Panther\\DomCrawler\\Field\\FileFormField\:\:\$value is not covariant with PHPDoc type string of overridden property Symfony\\Component\\DomCrawler\\Field\\FormField\:\:\$value\.$#'
